{% extends 'base.html' %} {% block title %} Delete Blog {% endblock %} {% block content %}
{% if user.is_authenticated and user == post.author %}
<h1>Delete Post</h1>

<div class="col-12">
 <h5>Are you sure you want to delete {{ post.title }}?</h5>
  <div class="form-group">
    <form method="post" class="form form-inline">
      {% csrf_token %} {{ form.as_p }}
      <button class="btn btn-danger">Delete</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
  </div>
</div>
{% else %}
  <h3 class='h3 text-danger'>Unauthorized</h3>
{% endif %}
{% endblock %}
